*{
    padding: 0;
    margin: 0;
}
.header{
    padding: 10px;
    font-size: 22px;
    text-align: center;
    color: #333;
    
}

.header img {
    position: relative;
    top: 4px;
    padding: 0 8px;
}
.search-input input{
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 8px 8px;
    width: 97%;
    outline: none;
    
}
.search-input{
    margin-left: 8px;
}
.emoji-list{
    list-style: none;
    font-size: 20px;
    color: rgb(58, 55, 55);
    cursor: pointer;
} 
.emoji-title{
    list-style: none;
    font-size: 12px;
    color: rgb(58, 55, 55);
}
.list{
    border-bottom: 1px solid #ccc;
    padding: 4px;
    height: 25px;
    position: relative;
    
}
.emoji-class{
    border: 1px solid #ccc ;
}
.searchEmoji{
    margin-top: 10px;
    border-top: 1px solid #bbb;
}
.github-fork-ribbon{
    width: 12.1em;
    height: 12.1em;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    pointer-events: none;
    font-size: 13px;
    text-indent: -999999px;
}
.github-fork-ribbon:before {
    background-color: rgb(73, 52, 52);
}
.github-fork-ribbon:before {
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.44em;
    right: -3.23em;
    transform: rotate(45deg);
    content: "";
    padding: .38em 0;
    pointer-events: auto;
    
}

.github-fork-ribbon:after {
    content: attr(title);
    color: #fff;
    
}

.copys {
    float: right;
    position: relative;
    top:5px;
    right: 20px;
    color: #ccc;
    font-size: 15px;
    display: none;
}
.emoji-list:hover .copys  {
    display: block;
  }
.list:hover {
    background-color: #eee;
  } 